.add-form-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.left-container {
  width: 25rem;
  margin-right: 5em;
}

.uploadForm {
  width: fit-content;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.medium-width {
  text-align: center;
  width: 10em;
}

.right-container {
  width: 20rem;
}

.preview-image {
  display: flex;
  justify-self: center;
  margin-top: 2em;
  width: 18rem;
  height: 22rem;
  object-fit: cover;
}
